/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 110%;
}

/* style */
body {
  max-width: 110ch;
  min-width: 60ch;
  margin: 0 auto;
  line-height: 1.5;
  font-family: "Gill Sans", sans-serif;
  font-weight: normal;
  color: hsl(220, 40%, 40%);
}

header {
}

article {
  display: flex;
  flex-direction: column;
  flex-basis: 0%;
  flex-grow: 1;
  max-width: 350px;
  min-width: 20ch;
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
  display: flex;
  margin-bottom: 16px;
}
main {
  display: flex;
  gap: 16px;
  padding: 16px;
}

article {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 60px;
  min-width: 20ch;
}

main {
	max-width: 1000px;
	margin: 16px auto;
	height: 100%;
	background-color: hsl(100, 0%, 95%);
  display: flex;
	gap: 16px;
	padding: 16px;

}

article {
	background-color: white;
	padding: 8px;#	
  display: flex;
	flex-direction: column;
	flex: 1;
	max-width: 350px;
	min-width: 20ch;
	flex-basis: 0%;
	flex-grow: 1;
}

figure img {
}

footer {
  text-align: right;
  margin-top: 1.75rem;
  margin-bottom: 1.25rem;
}

.hintergrund {
  background-color: hsl(220, 30%, 90%);
}

h1 {
  margin-top: 1.75rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

h2,
h3 {
  margin-bottom: 1.25em;
  text-align: left;
}

h4,
h5,
h6 {
  margin-bottom: 1.25rem;
  text-align: center;
}

p,
blockquote {
  margin-bottom: 16px;
}

ul {
  padding: 16px;
}

nav > ul > li > a:hover {
  background-color: mediumaquamarine;
}
nav > ul > li > a {
  padding-left: 8px;
  padding-right: 8px;
}

a {
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: hsl(220, 40%, 40%);
}

@media (max-width: 800px) {
  body {
    padding-left: 8px;
    padding-right: 8px;
    flex-direction: column;
  }
}
